.yellow-pom {
    height: 400px;
    width: 500px;
    background-color: #4A4A4A;
    color: #FAFAFA;
    padding: 10px;
}

.pom {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: 2px solid #FFAD00;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    z-index: 100;
}
